<div class="page-standard-layout">
    <div class="page-left">
        <div class="page-content"></div>
        <quote data="quote"></quote>
    </div>
    <!--<div class="rings"></div>-->
    <div class="page-right">
        <div class="page-content">
            <form>
                <div class="separata-circle">{{progressIndicator}}</div>
                             
                <p>{{texts[0].key | translate}}</p>
                <p>{{texts[1].key | translate}}</p>
                <p class="inline">{{texts[2].key | translate}}</p>
                <a class="inline" ng-href="{{urls[0] | translate}}">{{links[0] | translate}}</a>
              
                <div class="questions-row">
                    <div class="col-lg-12 col-sm-12">
                        <!-- QUESTIONS -->
                        <div class="row question" ng-repeat="question in questions track by $index">
                            <div class="col-lg-12 col-sm-12" id="question-{{$index}}" ng-if="question.visible">
                                <question item="question"></question>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="title" translate="{{title.key}}" translate-values="title.interpolations"></p>

            <div class="footer-texts-row">
                <div class="col-lg-12 col-sm-12">
                    <p ng-repeat="paragraph in footer track by $index" class="footer-text" translate="{{paragraph.key}}" translate-values="paragraph.interpolations"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="pusher"></div>
</div>

