.cvSelectWrapper * {
    color: black;
}

.cvSelectWrapper, .cvSelectWrapper .select {
    width: 100%;
    position: relative;
    max-width: 300px;
}

.cvSelectSimpleContent {
    border: 1px dotted white;
    overflow: auto;
}

@media(min-width: 992px) {
    .cvSelectSimpleContent {
        max-height: 300px;
    }
}