<div class="col-sm-12 col-md-5 col-lg-5 col-xs-12 questionsContainer animated fadeIn" ng-cloak>
        <h2 ng-if="model.title" translate="{{model.title.key}}" translate-value="model.title.interpolations"></h2><br />
        <p ng-repeat="paragraph in texts track by $index" translate="{{paragraph.key}}" translate-values="paragraph.interpolations"></p>
        <div class="question" ng-repeat="question in model.questions[model.currentGroupIndex] track by $index">
            <div class="" id="question-{{$index}}" ng-if="question.visible">
                <question item="question" lang-code="langCode"></question>
            </div>
        </div>
    <social-media></social-media>
    </div>